#nav-container {
	padding-top: 40px;
}

.nav-link {
    text-decoration: none;
    background: #1090ff;
    color: white;
    padding: 10px;
    border: 1px solid #0560af;
}

.nav-link:hover {
    background: #045aa5;
}